{% extends 'base.html' %}

{% load static %}

<title>{% block title %} Pavshop - Create Blog Page {% endblock %}</title>

{% block content %}



<!-- <h2>Create a Story</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ storyform.media }}
    {{ storyform.title }}
    {{ storyform.description }}
    {{ storyform.category }}
    {{ storyform.author }}
    {{ storyform.content }}
    {{ storyform.is_archive }}
    {{ storyform.image }}
    {{ storyform.slug }}


    <li class="col-md-6">
      <button type="submit" name="continue" class="btn">continue</button>
    </li>

</form> -->

<!--======= USER  INFO  =========-->

  <section class="padding-top-100 padding-bottom-100">
    <div class="container">
      {{form.media}}
 
        <div class="row" style="display: flex;justify-content: space-between;">
          <div class="col-md-10">
          <h4>Create a Story</h4>
          <form method="POST" class="w-100" enctype="multipart/form-data">
            {% csrf_token %}
          
              <div class="row w-100">

                <div class="col-sm-6">
                 
                  {{ form.title }}
                  {{ form.title.errors }}
  
                </div>
                
                <div class="col-sm-6">
                  {{ form.category }}
                  {{ form.category.errors }}
  
                  
                </div>


                <div class="col-sm-6">
                  {{ form.tag }}
                  {{ form.tag.errors }}
  
                  
                </div>
                
  </div>
  <div class="row " style="margin-top: 30px;">
    <div class=" col-sm-6">
      {{ form.description }}
      {{ form.description.errors }}
      
    </div>
                <div class="col-sm-6">
                  {{ form.image.label_tag }}
                  {{ form.image }}
                  {{ form.errors }}
                
                  
                </div>
                </div>
              
  
                <div class="col-sm-12" style="margin: 20px 0;">
  
                  {{ form.is_archive }} Archive
  
                </div>
  
               
                <div class="w-100">
                  {{ form.content }}
                  {{ form.content.errors }}
                </div>
                <div class="col-md-6" style="margin-top: 30px;">
                  <button type="submit" name="continue" class="btn">continue</button>
                </div>
              
            </form>
            </div>
         
            
              
                      
             
          <div class="col-md-2 ">
            <h6>User Profile</h6>

            {% if backends.associated %}
             {% for auth in backends.associated %}

                  {% if auth.provider == 'facebook' %}
                    <div class="col-md-6 text-center">
                        <img src="{{auth.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
                    </div>
                    <div class="col-md-6 social-container my-2 text-center d-flex flex-column align-items-center" >
                        <p style="text-align: center !important;">Signed in via: <strong>{{ auth.provider }}</strong></p>
                        <p style="text-align: center !important;">Name: <strong>{{ auth.extra_data.name }}</strong></p>
                        <p style="text-align: center !important;">Email: <strong>{{ auth.extra_data.email }}</strong></p>

                        <!-- <p>Provider url: <strong><a href="{{auth.extra_data.profile_url}}">link</a></strong></p> -->
                    </div>
                  {% endif %}

                {% endfor %}

            {% else %}



                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{ request.user.get_avatar }}"><span class="font-weight-bold">{{ request.user.first_name }}</span>
                        <span class="font-weight-bold">{{ request.user.last_name }}</span>
                        <br>
                        <span class="text-black-50">{{ request.user.email }}</span>
                    </div>
                </div>
          {% endif %}
          </div>
        </div>
       


          <!--   Profile   -->
        
    </div>
  </section>












   <!-- <ul class="row">
        <form class="padding-left-15" enctype="multipart/form-data" method="POST">
            {% csrf_token %}

            <li class="col-sm-4">
                <label>Title
                {{ storyform.title }}
                
                </label>
            </li>

            <li class="col-sm-4">
                <label>Description
                    {{ storyform.description }}

                </label>
            </li>

            <li class="col-sm-4">
                <label>Category
                    {{ storyform.category }}

                </label>
            </li>

            <li class="col-sm-4">
                <label>Author
                    {{ storyform.author }}

                </label>
            </li>

            <li class="col-sm-4">
                <label>Image
                    {{ storyform.image }}

                </label>
            </li>

            <li class="col-sm-4">
                <label>Archive
                    {{ storyform.is_archive }}

                </label>
            </li>

            <li class="col-sm-4">
                <label>Content
                    {{ storyform.content }}

                </label>
            </li>
            <li class="col-sm-12">
                <button type="submit" class="btn margin-top-30">Add Story</button>
            </li>

        </form>

    </ul>
    
     -->



{% endblock %}